name: Test
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master

      - name: Build Docker image
        run: docker build -t test-cargo-deny .

      - name: Run Docker image
        run: docker run -v ${PWD}:/test --workdir /test test-cargo-deny check
