name: Test
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master

      - name: Build Docker image
        run: docker build -t test-cargo-deny .

      - name: Run list
        run: docker run -v ${PWD}/test:/test test-cargo-deny "" --manifest-path test/Cargo.toml list

      - name: Run check
        run: docker run -v ${PWD}/test:/test test-cargo-deny 1.59.0 --manifest-path test/Cargo.toml --all-features check
